@import url("https://fonts.googleapis.com/css?family=Roboto:700");
.template1 .sidebar {
  background-color: #161636;
  color: #fff;
  padding: 2em 0.5em;
}

.template1 .sidebar .section-heading {
  font-size: 1.5em;
}

.template1 .sidebar .name_section {
  margin-bottom: 2em;
}

.template1 .sidebar .name_section h3 {
  font-size: 0.5em;
  font-weight: bolder;
  padding: 0.3em;
}

.template1 .sidebar .name_section img {
  width: 9em;
  border-radius: 50%;
}

.template1 .sidebar .contact_section {
  margin-bottom: 2em;
}

.template1 .sidebar .contact_section .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
}

.template1 .sidebar .skills_section {
  margin-bottom: 2em;
}

.template1 .sidebar .skills_section .skill label {
  font-size: 0.5em;
}

.template1 .main .section-heading {
  font-weight: bolder;
  font-size: 2em;
  text-transform: uppercase;
}

.template1 .main .objective_section {
  margin: 1em 0.5em;
  border-bottom: solid 1px #444;
  padding-bottom: 0.5em;
}

.template1 .main .education_section {
  border-bottom: solid 1px #444;
  padding-bottom: 1.5em;
}

.template1 .main .education_section .education {
  margin-bottom: 0.5em;
}

.template1 .main .education_section .education .title {
  font-weight: bolder;
}

.template1 .main .education_section .education .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.template1 .main .experience_section {
  border-bottom: solid 1px #444;
  padding-bottom: 1.5em;
}

.template1 .main .experience_section .experience .section-subheading {
  font-weight: bolder;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.template1 .main .achievements_section {
  border-bottom: solid 1px #444;
  padding-bottom: 1.5em;
}

.template1 .main .achievements_section .achievements {
  list-style: none;
}

.template1 .main .reference_section {
  border-bottom: solid 1px #444;
  padding-bottom: 1.5em;
}

.template1 .main .certification_sections {
  border-bottom: solid 1px #444;
  padding-bottom: 1.5em;
}

.template1 .main .language_section {
  border-bottom: solid 1px #444;
  padding-bottom: 1.5em;
}

ul li {
  list-style: none;
}

section {
  margin: auto 5em;
}

.progress-label {
  font-size: 0.8em;
}

.modal-title {
  color: #ff5e13;
  font-size: 1.5em;
  font-weight: bolder;
}

.button-primary {
  background-color: #28AE60;
  color: #fff;
  width: 8em;
}

.button-primary:hover {
  color: #28AE60;
  background: #fff;
  border: 1px solid #28AE60;
}

.button-primary:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.button-primary:hover::after {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.button-primary:hover::before, .button-primary:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.button-secondary {
  background-color: #ff5e13;
  color: #fff;
  width: 10em;
}

.button-secondary:hover {
  color: #ff5e13;
  background: #fff;
  border: 1px solid #ff5e13;
}

.error {
  color: red;
  padding-bottom: 0.5em;
}

.navbar {
  margin-bottom: 5%;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand .logo-text {
  color: #ff5e13;
  font-weight: bolder;
}

.footer {
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 5%;
}

.footer .footer-top {
  padding: 2em 0;
}

.footer .footer-top .navbar-brand {
  margin-left: 2em;
}

.footer .footer-top .logo-text {
  color: #ff5e13;
  font-weight: 500;
}

.footer .footer-top p {
  margin-left: 4em;
}

.footer .footer-top li a {
  color: #28AE60;
  font-size: 1.5em;
}

.footer .footer-top li a:hover {
  color: #fff;
}

.footer .footer-bottom {
  background-color: #000;
}

.home {
  min-height: 50vh;
}

.home .home-body {
  margin: 0 5%;
  margin-top: 10%;
}

.home .home-body .home_text {
  padding: 2em;
}

.home .home-body .home_text h3 {
  font-size: 2.5em;
}

.home .home-body .home_btns {
  position: relative;
  width: 90vmin;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -20%;
}

@-webkit-keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes showBottomText {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 40vmin;
  left: 35%;
  position: relative;
  margin-top: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90vmin;
  margin-bottom: 0;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title h3 {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}

.animated-title > div.text-top {
  -webkit-animation: showTopText 1s;
          animation: showTopText 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.animated-title > div.text-top h3:first-child {
  color: #767676;
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom p {
  -webkit-animation: showBottomText 0.5s;
          animation: showBottomText 0.5s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.about h5 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  color: #28AE60;
}

.about .about-text {
  text-align: center;
}

.about .subsection {
  margin-top: 5%;
}

.about .skillsLevel-container {
  margin-top: 2%;
}

.about .skillsLevel-container .card {
  margin: 0.5em;
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.about .skillsLevel-container .card h6 {
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 0.5em 0;
}

.card {
  position: relative;
  height: 20rem;
}

.card__side {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.card__title {
  height: 10rem;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: linear-gradient(-45deg, #9a4eff, #24ff72);
}

.card:hover .card__side--front-1 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: #fff;
}

.portifolio .portifolio-container {
  width: 100%;
}

.portifolio h5 {
  color: #28AE60;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.portifolio .portifolio-card {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  width: 100%;
  padding: 0.5em;
  height: 20em;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portifolio .portifolio-card h6 {
  font-weight: bolder;
  padding-top: 1em;
}

.portifolio .portifolio-card img {
  width: 100%;
  height: 100%;
}

.portifolio .card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.portifolio .card-image:hover img {
  opacity: 0.4;
  -webkit-transition: .5s;
  transition: .5s;
}

.portifolio .portifolio-card:hover .card-image {
  -webkit-transform: translateY(-20em);
          transform: translateY(-20em);
  -webkit-transition: all .9s;
  transition: all .9s;
}

.portifolio .portifolio-card:hover .details {
  -webkit-transform: translateY(-10em);
          transform: translateY(-10em);
  -webkit-transition: all .9s;
  transition: all .9s;
}

.portifolio .details {
  position: absolute;
  top: 60%;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 1;
  padding: 10px;
}

.contact li a {
  color: #28AE60;
  font-size: 1.5em;
}

.contact li a:hover {
  color: #000;
}

.contact h1 {
  color: #28AE60;
}

.contact h3 {
  color: #28AE60;
}

.social-icons {
  position: relative;
  left: -5em;
}

.social-icons li {
  display: inline-block;
  margin-right: 0.1em;
  position: relative;
  font-size: 1em;
  text-align: center;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 40%;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  content: " ";
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #28AE60, #28AE60);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #ff5e13;
  background: -webkit-linear-gradient(45deg, #ff5e13, #c648c8);
  background-clip: text;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}
/*# sourceMappingURL=style.css.map */